Source: ros-humble-agnocast-components
Section: misc
Priority: optional
Maintainer: Takahiro Ishikawa-Aso <sykwer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libgoogle-glog-dev, ros-humble-agnocast-cie-config-msgs, ros-humble-agnocast-cie-thread-configurator, ros-humble-agnocastlib, ros-humble-ament-cmake, ros-humble-class-loader, ros-humble-launch-testing-ament-cmake <!nocheck>, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-agnocast-components
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgoogle-glog-dev, ros-humble-agnocast-cie-config-msgs, ros-humble-agnocast-cie-thread-configurator, ros-humble-agnocastlib, ros-humble-class-loader, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-ros-workspace
Description: CMake tools for registering ROS 2 component nodes with Agnocast executor support.
 Provides agnocast_components_register_node macro similar to rclcpp_components_register_node.
