Source: ros-humble-agnocastlib
Section: misc
Priority: optional
Maintainer: Takahiro Ishikawa-Aso <sykwer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libgoogle-glog-dev, liblttng-ust-dev, ros-humble-agnocast-cie-config-msgs, ros-humble-agnocast-cie-thread-configurator, ros-humble-ament-cmake, ros-humble-ament-cmake-gmock <!nocheck>, ros-humble-ament-index-cpp, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-launch-testing-ament-cmake <!nocheck>, ros-humble-message-filters, ros-humble-rcl-yaml-param-parser, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosgraph-msgs, ros-humble-std-msgs <!nocheck>, ros-humble-tracetools, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-agnocastlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgoogle-glog-dev, liblttng-ust-dev, ros-humble-agnocast-cie-config-msgs, ros-humble-agnocast-cie-thread-configurator, ros-humble-ament-index-cpp, ros-humble-message-filters, ros-humble-rcl-yaml-param-parser, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosgraph-msgs, ros-humble-tracetools, ros-humble-ros-workspace
Description: True Zero Copy Communication Middleware for Unsized ROS 2 Message Types.
