Source: ros-humble-ros2agnocast
Section: misc
Priority: optional
Maintainer: "Takahiro Ishikawa-Aso" <sykwer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/ros2agnocast/#humble
Standards-Version: 3.9.2

Package: ros-humble-ros2agnocast
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-agnocast-ioctl-wrapper, ros-humble-ament-index-python, ros-humble-ros-workspace
Description: The ROS 2 command line tool extension for Agnocast.
